accelerate==0.33.0
allennlp==2.10.1
anyio==4.1.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
attrs==23.1.0
base58==2.1.1
beautifulsoup4==4.12.2
bioc==2.1
bleach==6.1.0
blis==0.7.11
boto3==1.35.4
botocore==1.35.4
cached-path==1.1.6
cachetools==5.5.0
catalogue==1.0.2
certifi==2022.12.7
cffi==1.16.0
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.7
colorama==0.4.6
comm==0.2.0
commonmark==0.9.1
conda-pack==0.8.1
conllu==4.5.3
contourpy==1.2.0
cycler==0.12.1
cymem==2.0.8
d2l==0.17.6
de-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-2.3.0/de_core_news_sm-2.3.0.tar.gz#sha256=87fe081677c54615b8f5b3e701b8279c929dc9b5ed2aed1545e2494b5cae8b01
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
docker-pycreds==0.4.0
docopt==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#sha256=06c80936324012d1223291d2af41a5229e746dc2dee8fe31a532666ee3d18aaa
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==2.0.1
eznlp==0.2.4
fairscale==0.4.6
fastjsonschema==2.19.0
filelock==3.7.1
flair==0.14.0
fonttools==4.44.0
fqdn==1.5.1
fsspec==2023.12.2
ftfy==6.2.3
gdown==5.2.0
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.43
google==3.0.0
google-api-core==2.19.1
google-auth==2.34.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.5.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.2
googletrans==4.0.0rc1
h11==0.9.0
h2==3.2.0
h5py==3.11.0
hanziconv==0.3.2
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.24.0
hyperframe==5.2.0
idna==2.10
importlib-metadata==6.8.0
importlib-resources==6.1.1
iniconfig==2.0.0
intervaltree==3.1.0
ipykernel==6.26.0
ipython==8.17.2
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonlines==4.0.0
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter_client==7.4.9
jupyter_core==5.5.0
jupyter_server==2.12.1
jupyter_server_terminals==0.5.0
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
kiwisolver==1.4.5
langcodes==3.4.0
langdetect==1.0.9
language_data==1.2.0
lmdb==1.5.1
lxml==5.3.0
marisa-trie==1.2.0
MarkupSafe==2.1.3
matplotlib==3.5.1
matplotlib-inline==0.1.6
mistune==3.0.2
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
more-itertools==10.4.0
mpld3==0.5.10
mpmath==1.3.0
murmurhash==1.0.10
nbclassic==1.0.0
nbclient==0.9.0
nbconvert==7.12.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.0
nltk==3.9.1
notebook==6.5.6
notebook_shim==0.2.3
numpy @ file:///C:/Users/dev-admin/mkl/numpy_and_numpy_base_1682979889956/work
openpyxl==3.1.5
overrides==7.4.0
packaging==23.2
pandas==1.2.4
pandocfilters==1.5.0
parso==0.8.3
pathlib_abc==0.1.1
pathtools==0.1.2
pathy==0.11.0
Pillow==10.1.0
plac==1.1.3
platformdirs==4.0.0
pluggy==1.5.0
pptree==3.1
preshed==3.0.9
prettytable==3.10.2
prometheus-client==0.19.0
promise==2.3
prompt-toolkit==3.0.41
proto-plus==1.24.0
protobuf==3.20.3
psutil==5.9.6
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.21
pydantic==1.8.2
Pygments==2.16.1
pyparsing==3.0.9
PySocks==1.7.1
pytest==8.3.2
python-dateutil==2.8.2
python-json-logger==2.0.7
pytorch-crf==0.7.2
pytorch_revgrad==0.2.0
pytz==2023.3.post1
pywin32==306
pywinpty==2.0.12
PyYAML==6.0.1
pyzmq==24.0.1
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.32.0
regex==2024.11.6
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==12.6.0
rpds-py==0.13.2
rsa==4.9
s3transfer==0.10.2
sacremoses==0.1.1
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
segtok==1.5.11
semver==3.0.2
Send2Trash==1.8.2
sentencepiece==0.2.0
sentry-sdk==2.13.0
seqeval==1.2.2
setproctitle==1.3.3
shortuuid==1.0.13
six==1.17.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==2.3.9
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlitedict==2.1.0
srsly==1.0.7
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tensorboardX==2.6.2.2
termcolor==1.1.0
terminado==0.18.0
thinc==7.4.6
threadpoolctl==3.2.0
tinycss2==1.2.1
tokenizers==0.5.2
tomli==2.0.1
torch==1.10.1+cu113
torchaudio==0.10.1+cu113
torchsummary==1.5.1
torchtext==0.18.0
torchvision==0.11.2+cu113
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
transformer-smaller-training-vocab==0.4.0
transformers==2.8.0
truecase==0.0.14
typer==0.4.2
types-python-dateutil==2.8.19.14
typing_extensions==4.5.0
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.13
wandb==0.12.21
wasabi==0.10.1
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
widgetsnbextension==4.0.9
Wikipedia-API==0.6.0
wrapt==1.16.0
zipp==3.17.0
